body {
    margin:0;
    padding: 0;
    background-color: #f3f3f3;
}

.Head {
    background-image:linear-gradient( #69c56ee0 ,#efc300d5);
    margin: 0%;
    height: 100px;
}

.Logo {
    float: left;
    padding-left:50px;
    padding-top: 15px;
    display: block;
}
.Menu {
    float: right;
    display: block;
    padding-right: 150px ;
    padding-top: 28px;
}
.Head a {
    text-decoration: none;
    font-family: Malgun Gothic;
    color: #444341;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.Head ul {
    overflow: hidden;
}
.Head ul li {
    float: left;
    overflow: hidden;
    margin-left: 40px;
}

#toggle {
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: #444;
    text-align: center;
}
.search-box {
    width: 100%;
}
.search-form button {
    position: absolute;
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: #399e47;
    border-radius: 0 3px 3px 0;
    border-width: 8px 8px 8px 8px;
    border-color: transparent #399e47 transparent;
}
.search-form input {
    display: inline-block;
    width: 370px;
    height: 40px;
    padding: 10px 15px;
    font-size: 14px;
    color: #666;
    background: #eee;
    border-radius: 3px 0 0 3px;
    border-width: 8px 8px 8px 8px;
    border-color: white;
}



.Nav {
    background-color: white;
    margin: 0%;
    height: 1%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
}
.Nav img{
    margin-top: 5px;
    margin-bottom: 5px;
}

.Body {
    background-color:white;
    margin: 15px;
}


.Box {
    width: 20%;
    margin: 15px 20px;
    float: right;
    height: 1000 px;
}
.Box img {
    width: 250px;
    height: 150px;
    border-radius: 5px;
}
.Box a{
    text-decoration: none;
    font-family: Century751 No2 BT;
    color: #444341;
    font-size: 14px;
    font-weight: bold;
    margin: 10px ;

}
.Box td{
    text-align: center;
    width: 20%;
}
.Box table{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
    margin-top: 30px;
    margin-bottom: 30px;
}
.Judul {
    position: absolute;
    width: 75%;
    float: left;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
}
.Judul img {
    width: 65%;
    height: 480px;
    float: left;
    padding: 10px;
}
.Judul h1 {
    text-shadow: 3px 3px 6px #3b3b3b49;
    width: 30%;
    float: left;
    font-size: 40px;
    font-family: Century751 No2 BT;
    font-weight: bold;
    color: #444341c5;
    margin-left: 20px;
    text-decoration: underline;
}
.Artikel {
    float: none;
    padding-left: 10px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: white;
    box-shadow: 10px 3px 6px #0202022f;
    padding-bottom: 30px;
    margin-right: 10px;
    padding-top: 490px;
}


.sign{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
    text-align: center;
    padding: 5px;
}

.sign button{
    cursor: pointer;
    height: 40px;
    width: 100px;
    text-decoration: none;
    font-family: Century751 No2 BT;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    background: #69c56e;
    border-radius: 5px;
    border-width: 5px;
    border-color: transparent #399e4760 transparent;
}

.share {
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.342);
    float: right;
    display: block;
    background: rgb(255, 255, 255);
}
.share a {
    float : left;
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
}

.facebook {
    margin: 10px 25px;
    background: #3B5998;
    color: white;
}

.twitter {
    margin: 10px 25px;
    background: #55ACEE;
    color: white;
}

.google {
    margin: 10px 25px;
    background: #dd4b39;
    color: white;
}

.linkedin {
    margin: 10px 25px;
    background: #007bb5;
    color: white;
}

.youtube {
    margin: 10px 25px;
    background: #bb0000;
    color: white;
}

.whatsapp {
    margin: 10px 25px;
    background: rgb(0, 207, 10);
    color: white;
}



.comment {
    box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.342);
    margin: 20px;
    display: inline-block;
    background: #ffffff;
}
.comment table {
    background-color: rgba(190, 188, 188, 0.596);
    border-radius: 10px;
    padding: 10px 10px 40px;
    font-family: Century751 No2 BT;
    font-size: 15px;
}

.comment td{
    width: 270px;
    height: 15px;
    padding-left: 10px;
}
.comment th {
    width: 90%;
    padding: 10px;
    font-size: 20px;
}
.box2 {
    background: #69c56ea2;
    border-width: 4px;
    border-color: #69c56ea2;
    color: white;
    font-weight: bold;
    float: left;
    padding: 8px;
    margin-top: 40px;
    cursor: pointer;
}

.comment-input {
    width: 100%;
    background: transparent;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    outline-color: #ffffff4d  ;
    border-bottom: 1.5px solid #000000;
    font-family: Century751 No2 BT;
    font-size: 14px;
    color: #000000;
    display: inline-block;
}

